 
  * {
    font-family: 'Sawarabi Mincho', sans-serif;
    padding: 0; 
    margin: 0; 
  }

body{
    background-color: #F6F6F6;
}
  /*Tennis Pong*/ 
#pong{
    width: 100%;
    height: 100%;
    position: absolute;
    margin :auto;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index: -1;
}

/*section 1*/ 
.s1{
    width : 100%;
    height: 100vh;
}

.brand{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20em;
}

.brand h1{
    color: #D7A30F;
    font-size: 6em;
    letter-spacing: 0.15em;
}

.brand p1{ 
    letter-spacing: 0.7em;
}

/*section 2*/ 

.s2{
    width : 100%;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;
    width: 100%;
    max-width: 1400px;
    padding-left: 60px;
    padding-right: 60px;
  }

.text2{
    grid-column: 1 / span 6;
    text-align: right;
    justify-content: center;
    align-self: center;
}

.text2 p{
    font-size: 17px;
    letter-spacing: 0.3rem;
}

.text2 h1{
    font-size: 70px;
    color: #D7A30F;
    font-weight: 10px;
    letter-spacing: 0.3rem;
}

.slideshow-container{
    grid-column: 7 / span 6;
    background: no-repeat center center;
    background-size: cover;
}

.slide{
    width: 100%;
    height:100%; 
    min-height: 500px;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
    animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }


  /*section 3*/ 
  .s3{
    width : 100%;
    height: 150vh;
}


.slide3{
    width: 70%;
    height: 70%; 
    margin-left: 15%; 
    margin-top: -25%;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.text3{
    margin-top: 20%;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform:translate(13%, 0%);
    z-index: -1;
}

/* Text animation comfort*/
#comfort path:nth-child(1){
    stroke-width: 1.7px;
    stroke-dasharray: 1043;
    stroke-dashoffset: 1043;
    animation: line-anim 3s ease forwards;
}

#comfort path:nth-child(2){
    stroke-width: 1.7px;
    stroke-dasharray: 1154;
    stroke-dashoffset: 1154;
    animation: line-anim 3s ease forwards 0.2s; 
}

#comfort path:nth-child(3){
    stroke-width: 1.7px;
    stroke-dasharray: 1997;
    stroke-dashoffset: 1997;
    animation: line-anim 3s ease forwards 0.4s; 
}

#comfort path:nth-child(4){
    stroke-width: 1.7px;
    stroke-dasharray: 1178;
    stroke-dashoffset: 1178;
    animation: line-anim 3s ease forwards 0.6s; 
}

#comfort path:nth-child(5){
    stroke-width: 1.7px;
    stroke-dasharray: 1154;
    stroke-dashoffset: 1154;
    animation: line-anim 3s ease forwards 0.8s; 
}

#comfort path:nth-child(6){
    stroke-width: 1.7px;
    stroke-dasharray: 1354;
    stroke-dashoffset: 1354;
    animation: line-anim 3s ease forwards 1.2s; 
}

#comfort path:nth-child(7){
    stroke-width: 1.7px;
    stroke-dasharray: 1102;
    stroke-dashoffset: 1102;
    animation: line-anim 3s ease forwards 1.4s; 
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    to{
        fill: #0000;
    }
}

.text302{
    margin-top: -17%;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform:translate(-13%, 0%);
    z-index: -1;
}

/* Text animation style*/
#style path:nth-child(1){
    stroke-width: 1.7px;
    stroke-dasharray: 1043;
    stroke-dashoffset: 1043;
    animation: line-anim 3s ease forwards;
    animation-iteration-count: infinite;
}

#style path:nth-child(2){
    stroke-width: 1.7px;
    stroke-dasharray: 1154;
    stroke-dashoffset: 1154;
    animation: line-anim 3s ease forwards 0.2s; 
}

#style path:nth-child(3){
    stroke-width: 1.7px;
    stroke-dasharray: 1997;
    stroke-dashoffset: 1997;
    animation: line-anim 3s ease forwards 0.4s; 
}

#style path:nth-child(4){
    stroke-width: 1.7px;
    stroke-dasharray: 1178;
    stroke-dashoffset: 1178;
    animation: line-anim 3s ease forwards 0.6s; 
}

#style path:nth-child(5){
    stroke-width: 1.7px;
    stroke-dasharray: 1178;
    stroke-dashoffset: 1178;
    animation: line-anim 3s ease forwards 0.6s; 
}


/*section 4*/ 
.grid2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;
    width: 100%;
    max-width: 1400px;
    padding-left: 60px;
    padding-right: 60px;
  }

.s4{
    width : 100%;
    height: 100vh;
}

.straps{
    grid-column: 1/ span 6;
}

.slide4{
    width: 130%;
}

.text4 {
    padding-top: 30%;
    grid-column: 8/ span 4;
    align-self: center;
}

.text4 h4{
    font-size: 50px;
    letter-spacing: 0.1em;
    color: #D7A30F;
}

.text4 p{
    font-size: 15px;
    letter-spacing: 0.1em;
}

#path4{
    width: 41%;
    transform:translate(36%, -175%);
}


/* Text animation style*/
#path4 path:nth-child(1){
    stroke-dasharray: 1043;
    stroke-dashoffset: 1043;
    animation: line-anim4 2.5s ease forwards;
    animation-iteration-count: infinite;
}

#path4 path:nth-child(2){
    stroke-dasharray: 1043;
    stroke-dashoffset: 1043;
    animation: line-anim4 2.5s ease forwards;
    animation-iteration-count: infinite;
}

#path4 path:nth-child(3){
    stroke-dasharray: 1043;
    stroke-dashoffset: 1043;
    animation: line-anim4 2.5s ease forwards;
    animation-iteration-count: infinite;
}

#path4 path:nth-child(4){
    stroke-dasharray: 1043;
    stroke-dashoffset: 1043;
    animation: line-anim4 2.5s ease forwards;
    animation-iteration-count: infinite;
}

@keyframes line-anim4{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    to{
        fill: #0000;
    }
}

/*section 5*/
.s5{
    width : 110%;
    height: 100vh;
}

.features{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25%;
}

.icons{
    justify-content: baseline;
    align-items: center;
    text-align: center;
}

.icon5{
    padding-bottom: 10%;
}

